.product{
    padding: 1rem;
    border: 1px solid var(--primary);
    margin:auto;
    border-radius: 1rem;
    position: relative;
    margin-top: 1rem;

    .image{
        width: 100%;
    }
    .decoration_image{
        width: 100%;
    }
    h3{
        width: 100%;
        padding: 0.5rem 0;
        margin: 0;
    }
    .stats{
        margin: auto;
        text-align: center;
        span{
            font-weight: 700;
            font-size: 2rem;
        }
    }
}
.addOffer {
    position: fixed;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 555;
    background-color: #0009;

    form {
        width: calc(90% - 2rem);
        max-width: 400px;
        margin: auto;
        background: var(--secondary);
        padding: 1rem;
        border-radius: 0.25rem;

        .input {
            display: block;
            margin-bottom: 1rem;
            padding: 10px;
            background: #fff;
            border-radius: 0.25rem;

            input,textarea,select {
                width: 100%;
                background: #fff;
                border: none;
            }
            textarea{
                resize: none;
            }
            input:focus,textarea:focus {
                outline: none;
            }

        }

        button {
            padding: 10px;
            width: 100%;
            border: none;
            background: var(--primary);
            color: #fff;
            font-size: 1rem;
            border-radius: 0.25rem;
            cursor: pointer;
        }
    }
}

.addOffer.active {
    top: 0;
    display: flex;
}
