<ul class="menu">
    <div class="logo">
        <img src="/assets/icons/logo-white.png" alt="">
        <span>O'Deal</span>
    </div>
    <li routerLink="/dashboard" routerLinkActive="active" class="menulink"><span
            class="material-symbols-rounded">home</span> Dashboard</li>
    <li routerLink="/users" routerLinkActive="active" class="menulink"><span
        class="material-symbols-rounded">people</span> Users</li>
    <li routerLink="/stores" routerLinkActive="active" class="menulink"><span
        class="material-symbols-rounded">store</span> Stores</li>
    <li routerLink="/products" routerLinkActive="active" class="menulink"><span
        class="material-symbols-rounded">inventory_2</span> Products</li>
    <li routerLink="/offers" routerLinkActive="active" class="menulink"><span
        class="material-symbols-rounded">sell</span> Offers</li>
    <li routerLink="/orders" routerLinkActive="active" class="menulink"><span
        class="material-symbols-rounded">local_shipping</span> Orders</li>
    <li routerLink="/reviews" routerLinkActive="active" class="menulink"><span
        class="material-symbols-rounded">star</span> Reviews</li>
    <li class="menulink" (click)="logout()"><span
        class="material-symbols-rounded">logout</span> Logout</li>
</ul>