<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664037960942-45648b2c2pnlmt6ud0agd0jt8qg115ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664037960942-45648b2c2pnlmt6ud0agd0jt8qg115ub</string>
	<key>API_KEY</key>
	<string>AIzaSyAAebaOC6RH422pTzbDA3WyOc9gnWlLgWg</string>
	<key>GCM_SENDER_ID</key>
	<string>664037960942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oDeal</string>
	<key>PROJECT_ID</key>
	<string>odeal-914ac</string>
	<key>STORAGE_BUCKET</key>
	<string>odeal-914ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664037960942:ios:4a58cdf5caa55b812457ff</string>
</dict>
</plist>